*, *:before, *:after {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logocontainer {
  flex: 0 0 auto;
}

.logocontainer__img {
  display: block;
  width: 100%;
  height: auto;
}

.nav--header {
  flex: 1 1 auto;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 0;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav--subnav .nav__item {
  margin-right: 0;
}

.nav--subnav .nav__item:not(:last-child)::after {
  content: "/";
  padding: 0 10px;
}

.nav__link {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.nav--subnav .nav__link {
  font-weight: normal;
}

.nav--subnav {
  padding-left: 10px;
  background-color: #9DBEBB;
}

.article {
  margin: 25px 15px;
}

.article__title {
  margin-bottom: 15px;
}

.article__text {
  width: 450px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 15px;
}

.section .productcontainer {
  flex: 0 0 auto;
  padding: 10px;
  border: 1px solid black;
}

.section .productcontainer:not(:last-child) {
  margin-right: 20px;
}

.section .productcontainer__title {
  margin-top: 20px;
  margin-bottom: 15px;
}

.section .productcontainer__price {
  display: block;
  color: gray;
  margin-bottom: 5px;
}

.section .productcontainer__text {
  margin-bottom: 5px;
}

.section .productcontainer__offer {
  font-weight: bold;
  text-decoration: underline;
}

.section .productcontainer__saving {
  display: block;
  color: green;
  margin-bottom: 5px;
}
