.nav {
    &--header {
        padding-left: 25px;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        background-color: $nav--header-color;

        @media screen and (max-width: 800px) {
          width: 100%;
          padding-left: 0px;
        }
    }
    &__list {
        list-style: none;
        @media screen and (max-width: 800px) {
          width: 100%;
          display: flex;
          justify-content: center;

          .nav--subnav & {
            display: block;
          }
        }
    }
    &__item {
        display: inline-block;
        margin-right: 15px;
        padding: 10px 0;
        &:last-child {
            margin-right: 0;
        }
        .nav--subnav & {
            margin-right: 0;
        }
        .nav--subnav &:not(:last-child)::after {
          color: $primary-font-color;
          content: "/";
          padding: 0 10px;
        }
    }
    &__link {
        text-decoration: none;
        font-weight: bold;
        color: $nav--header-font-color;
        .nav--subnav & {
          color: $primary-font-color;
          font-weight: normal;
        }

        &:hover {
          text-decoration: underline;
        }

        @media screen and (max-width: 800px) {
          .nav--subnav & {
            color: $primary-font-color;
          }
        }
    }
    &--subnav {
        padding-left: 10px;
        background-color: $secondary-nav-background-color;
    }
}
