.article {
    margin: 25px 15px;

    @media screen and (max-width: 800px) {
      margin-left: 25px;
    }
    &__title {
        margin-bottom: 15px;
    }
    &__text {
      font-family: 'Source Sans Pro', sans-serif;
      width: 450px;
      line-height: 20px;
        
      @media screen and (max-width: 800px) {
          width: 90%;
        }
    }
}
