.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 15px;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }
}
.moviecontainer {
    flex: 0 0 auto;
    padding: 10px;
    margin-bottom: 15px;
    width: 24%;
    border: 1px solid $border-color;
    box-shadow: 0px 15px 25px -4px rgba(30,30,60,0.25);

    &:not(:last-child) {
        margin-right: 15px;
        @media screen and (max-width: 800px) {
          margin-right: 0;
        }
    }
    
    @media screen and (max-width: 800px) {
        width: 90%;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__title {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    &__price {
        display: block;
        color: $price-color;
        margin-bottom: 5px;
    }

    &__text {
        margin-bottom: 5px;
    }

    &__offer {
        font-weight: bold;
        text-decoration: underline;
    }

    &__saving {
        display: block;
        color: $saving-color;
        margin-bottom: 5px;
    }
}
