$primary-font-color: #000;
$nav--header-font-color: #fff;
$nav--header-color: #000;
$nav--subnav-color: #000;
$secondary-nav-background-color: #D3D3D3;
$border-color: #000;
$price-color: gray;
$saving-color: green;